body{
  font-family: "Roboto", sans-serif;
}

.header{
  padding: 35px 10%;
  top: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background: white;
}

.logoContainer{
  float: left;
  margin: -25px 0 0 -50px;
}

.logo{
  width: 300px;
  height: 100px;
}

.menuContainer{
  display: flex;
  width: 40%;
}

.menuItem{
  display: inline-block;
  font-size: 30px;
  margin-right:45px;
}

.menuItemLink{
  color: #3f3f3f;
  transition: color .5s ease;
}

.menuItemLink:hover{
  color: #000080;
}

.navBarContainer{
  margin-left: 15px;
}

.wrap{
  width: 15%;
  height: 100%;
  position: absolute;
}

.search {
  width: 100%;
  position: absolute;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #000;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  border: 1px solid #000;
  background: #000;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.pageScroll{
  background: #e7e7e7;
  margin-top: 100px;
  z-index: 0;
}

.slider {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.slideLinkContainer{
  text-align: center;
  height: 100px;
  padding: 25px 0;
}

.slideLinkItem{
  display: inline-block;
}

.slideLinkItem:not(:last-child):after{
  content: '•';
  font-size: 48px;
  padding: 0 8px 0 10px;
}

.slideLink{
  font-family: "Fjalla one", sans-serif;
  font-size: 48px;
  color: #3f3f3f;
  transition: color .5s ease;
}

.slideLink:hover{
  color: #000080;
}

.slides {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;

  scroll-behavior: smooth;


}

.slides > div {
  flex-shrink: 0;
  width: 100%;
  height: 3600px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;


  font-size: 100px;
}


.author-info a {
  color: white;
}

.imageTitle{
  display: block;
  width: 100%;
  height: 22.333%;
}

.latestArticlesContainer{
  height: 200px;
  padding: 50px 0;
  text-align: center;
}

.latestArticles{
  font-size: 48px;
  font-family: "Fjalla one", sans-serif;
}

.articlesAllContainer{
  display: flex;
  width: 100%;
  padding: 0 2.71%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articlesContainer{
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article{
  width: 100%;
  margin-bottom: 25px;
}

.imgArticleBig{
  width: 100%;
  height: 870px;
  margin-bottom: -14px;
}

.imgArticleBig{
  width: 100%;
}

.imgArticleLittle{
  width: 100%;
  height: 370px;
  margin-bottom: -14px;
}

.textArticleContainer{
  width: 100%;
  height: 270px;
  background: #fff;
  padding-top: 10px;
}

.articleUser{
  font-size: 36px;
  text-align: left;
  color: #3f3f3f;
  margin: 0 0 15px 20px;
  transition: color .5s ease;
}

.articleUser:hover{
  color:#000080;
}

.articleTitle{
  text-align: left;
  font-size: 36px;
  font-style: italic;
  color: #3f3f3f;
  margin: 0 0 15px 20px;
}

.articleFrom{
  text-align: left;
  font-size: 36px;
  color: #3f3f3f;
  margin: 0 0 15px 20px;
}

.socialArticleContainer{
  display: flex;
  flex-wrap: wrap;
}

.socialArticleItem{
  width: 45px;
  height: 45px;
  margin-left: 20px;
}

.socialArticleimg{
  width: 100%;
  height: 100%;
}

.socialArticleimgfb{
  width: 65%;
  height: 100%;
}

.footer{
  width: 100%;
  height: 300px;
  background: #fff;
}

.leftFooter{
  float: left;
  margin-top: 100px;
  margin-left: 115px;
}

.slogan{
  font-style: italic;
  font-size: 48px;
  font-weight: bold;
  color: #3f3f3f;
}

.menuAdminContainer{
  margin-top: 50px;
  font-size: 36px;
}

.menuAdminItem{
  display: inline-block;
  margin-right: 40px;
}

.menuAdminItemLink{
  color: #3f3f3f;
  transition: color .5s ease;
}

.menuAdminItemLink:hover{
  color: #000080;
}

.rightFooter{
  float: right;
}

.socialAdminContainer{
  margin-top: 125px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.socialAdminItem{
  height: 75px;
  width: 75px;
}

.socialAdminimg{
  width: 100%;
  height: 100%;
}

.socialAdminimgfb{
  width: 65%;
  height: 100%;
  margin-left: 10px;
}
